/* Navigation */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu hamb */
.divMenu {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menuHam {
  font-size: 30px;
  color: var(--sky-blue);
}
.divUl {
  display: none;
  width: 100%;
  height: 0;
  position: absolute;
  top: 50px;
  background-color: var(--white);
  border-bottom: 1.5px solid var(--grayish-blue);
  z-index: 10;
  overflow: hidden;
  animation: downMenu 0.5s ease-in-out;
  
}
.divUlActive {
  display: flex;
  height: fit-content;

}
@keyframes downMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.ulNavMenu {
  width: 100%;
  list-style: none;
  padding: 15px;
} 
.liNavMenu {
  font-family: var(--font);
  height: 30px;
  list-style: none;
  font-size: var(--font-size-sm);
  color: var(--grayish-blue);
  animation-duration: 2s;
  animation-name: slidein;
  transition: font-size 0.2s ease-in;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.liNavMenu:hover {
  font-size: var(--font-size-md);
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.932);
  border-radius: 5px;
}
.liNavMenu a {
  border-bottom: 1px solid var(--grey-opacity);
}

/* Navbar Right */
.divRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 220px;
  height: 50px;
  padding-right: 15px;
  position: relative;
}
/* Notifications */
.notfications {
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconNotif {
  font-size: 20px;
  color: var(--sky-blue);
  cursor: pointer;
}
.containerNotif {
  display: none;
  width: 100vw;
  height: 0;
  position: absolute ;
  right: 0;
  top: 50px;
  background-color: var(--white);;
  border-bottom: 1.5px solid var(--grayish-blue);
  z-index: 10;
  overflow: hidden;
  animation: downMenu 1s ease-in-out;
  }
.activeNotif {
  display: flex;
  height: fit-content;
}
.ulNotif {
  width: 100%;
  max-height: 300px;
  list-style: none;
  padding: 15px;
  overflow: hidden;
  animation-duration: 2s;
  animation-name: slide;
} 
.liNotif {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-family: var(--font);
  height: fit-content;
  font-size: var(--font-size-sm);
  border-bottom: 1px solid var(--grey-opacity);
  list-style: none;
  color: var(--grayish-blue);
  transition: font-size 0.2s ease-in;
  cursor: pointer;

} 
@keyframes slide {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}
.liNotif:hover {
  font-size: var(--font-size-md);
  font-weight: bold;

}
.mensajeNotif {
  font-size: small;
}
/* Search */
.divSearch {
  overflow: hidden;
  width: 80px;
  height: 50px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: width 0.5s ease;
} 
.iconSearch {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  color: var(--sky-blue);
}
.searchInput {
  display: none;
  border-radius: 5px;
  padding: 2px;
  border: none;
  background: transparent;
  width: 0; /* Cambié la anchura inicial aquí */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: width 0.5s ease, opacity 0.5s ease;
}
.searchInput:focus {
  color: var(--letter-color);
  outline: 1px solid var(--grayish-blue);
}
.searchInput:focus::placeholder {
  color: rgba(8, 8, 8, 0.499);
  padding: 5px;
  font-family: var(--font);
}
.activeSearch {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.activeRight {
  display: flex;
  align-items: center;
}
.activeInput {
  width: 150px; /* Anchura final */
  opacity: 1;
  border: 1px solid var(--grayish-blue);
  background: var(--grey-opacity);
}

/* Navbar pc */
@media (min-width: 1024px) {
  .navbar {
    height: 60px;
  }

  .divMenu {
    width: 350px;
  }
  .menuHam {
    display: none;
  }
  
  .divUl {
    display: flex;
    flex-direction: row;
    width: 22em;
    height: 60px;
    top: 0;
    border-bottom: 0;
    background-color: transparent;
    position: absolute;
    overflow: hidden;  
    animation: none;
  }
  .ulNavMenu {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
  } 
  .liNavMenu {
    font-family: var(--font);
    height: 30px;
    list-style: none;
    font-size: var(--font-size-md);
    color: var(--letter-color);
    display: flex;
    flex-direction: row;
    animation: slide 0.7s ease;
  }
  .liNavMenu:hover {
    font-size: var(--font-size-bg);
    font-weight: bold;
    background-color: transparent;
  }
  .liNavMenu a {
    border-bottom: 0;
  }
  .divRight {
    width: 300px;
    height: 60px;
  }
  .notfications {
    height: 60px;
  }
  .iconNotif {
    font-size: 22px;
    color: var(--sky-blue);
    cursor: pointer;
  }
  .containerNotif {
    top: 60px;
    }
  .liNotif {
    font-size: var(--font-size-md);
  } 
  .divSearch {
    width: 200px;
    height: 60px;
  }
  .activeInput {
    width: 180px;
  }
}