.containerPartners {
  width: 100%;
  height: fit-content;
}

.titlePartners {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-tt);
}
.containerSearch {
  display: flex;
  overflow: hidden;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.divSearch {
  display: flex;
  align-items: center;
}
.containerUsers {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}
.iconSearch {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  color: var(--black);
}
.searchInput {
  border-radius: 5px;
  padding-left: 6px;
  border: 1px solid black;
  background: transparent;
  width: 150px; /* Cambié la anchura inicial aquí */
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.searchInput:focus {
  color: var(--blue-dark);
  outline: 1px solid var(--grayish-blue);
  font-family: var(--font);
  height: 22px;
}
.searchInput:focus::placeholder {
  color: rgba(8, 8, 8, 0.499);
  padding-left: 4px;
  font-family: var(--font);

}
.searchPartner {
  padding-right: 15px;
  font-family: var(--font);
}
.partnersList {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--grey-opacity);
    padding: 0 10px 0 20px;
    margin-bottom: 5px;
}
.name {
  width: 60px;
  font-family: var(--font);
  font-size: var(--font-size-md);
  position: absolute;
  left: 65px;
}
.buttonDelete,
.buttonAssociate {
  width: 100px;
  font-family: var(--font);
  font-size: var(--font-size-sm);
  color: var(--letter-color);
  height: fit-content;
  border-radius: 30px;
  border: 1px solid rgba(67, 66, 65, 0.434);
  transition: all 1s ease;
  position: absolute;
  right: 45px;
}
.buttonDelete {
  background-color: rgb(109, 123, 250);
}
.buttonDelete:hover {
  box-shadow:0px 0px 15px 5px rgb(68, 110, 193) ;
}
.buttonAssociate {
  background-color: rgb(91, 230, 60);
}
.buttonAssociate:hover {
  box-shadow:0px 0px 15px 5px rgb(23, 185, 23) ;
}

@media (min-width: 768px) {
  .containerUsers {
    width: 768px;
  }
  .containerPartners {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partnersList {
    height: 80px;
    padding: 0 10px 0 10px;
}
.name {
  font-size: var(--font-size-bg);

}
.containerSearch {
  width: 50%;
}
.buttonDelete,
.buttonAssociate {
  width: 140px;
  font-size: var(--font-size-md);

  
}
}